.main-container {
    text-align: center;
}

.main-container {
    color: whitesmoke;
    font-family: Noto Sans JP;
}

.card {
    padding-left: 100px;
    padding-right: 100px;
    border-style: solid; background-color: #1f1c08; border-radius: 13px;
    border-color: gold;
    margin-top: 50px;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 80px;
}

h2 {
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Mulish', sans-serif;
    color: whitesmoke;
}

footer {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

a {
    color: lightblue;
}

#more{
    display: none;
}

#more2{
    display: none;
}

#more3{
    display: none;
} 

button {
    background-color: black;
    border: none; 
    outline: none;
    color: whitesmoke;
    font-size: 18px;
    padding: 5px;
}

footer a {
    padding: 10px;
    font-size: 75px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

}

header p {
    font-size: 25px;
}

header span {
    font-size: 25px;
    padding-right: 20px;
    font-family: 'Mulish', sans-serif;
}
 a:link {
    text-decoration: none;
 }

/*@media(max-width: 600px) {
    button {
        font-size: 200px;
    }
    header span {
        font-size: 30px;
    }
}*/

#cottage {
    height: 200px;
   
}

